# JSON files in the main folder are personal configuration files (DefaultActions.json, settings.json)
/*.json

# reserve local /private folder for GCT actions to export data that will never be tracked with Git
private/**
